@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Athiti:wght@200;300;400;500;600;700&family=Bebas+Neue&family=Creepster&family=Dancing+Script:wght@400..700&family=Oswald:wght@200..700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    background: linear-gradient(0, rgb(150, 234, 236), rgb(255, 191, 212));
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="pink"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"/></svg>') 12 12, auto;
    overflow: hidden;
}

.start-page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(15, 15, 15);
}
.start-page button{
    border: none;
    background: none;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="pink"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"/></svg>') 12 12, auto;
}
.btn-wrap{
    position: relative;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    border: 10px solid rgb(236, 160, 185);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="pink"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"/></svg>') 12 12, auto;
    box-shadow: 0 0 20px rgba(243, 72, 129, 0.801);
    background: none;
    overflow: hidden;
}
.btn-wrap:hover .btn-box::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    background: palevioletred;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    animation: smoke 0.5s forwards infinite;
    z-index: 0;
}
.btn-wrap:hover{
    transform: scale(1.01);
}
.btn-wrap:focus{
    outline: none;
    transform: scale(1.1);
    transition: witdh 1s;
}
.btn-box{
    position: relative;
}
.btn{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: palevioletred;
    white-space: nowrap;
    font-size: 30px;
    font-family: Pacifico;
    text-shadow: 0 0 20px rgba(243, 72, 129, 0.801);
}

.loading-wrap{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    z-index: -1;
    background: rgba(0, 0, 0, 0.5);
}
.loading{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
}

.floating-heart {
    position: fixed;
    bottom: -50px;
    font-size: 25px;
    pointer-events: none;
    z-index: 0;
    animation: floatHearts 6s ease-in infinite;
}
.floating-tulip {
    position: fixed;
    bottom: -50px;
    font-size: 25px;
    pointer-events: none;
    z-index: 0;
    animation: floatTulips 6s ease-in infinite;
}
#secondpage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: linear-gradient(0, rgb(150, 234, 236), rgb(255, 191, 212));
    position: relative;
    overflow: hidden;
}
.navbar{
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    z-index: 10;
}

.back-btn{
    display: flex;
    align-items: center;
}
.back-btn a{
    text-decoration: none;
    color: rgb(230, 127, 161);
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="pink"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"/></svg>') 12 12, auto;
}
.back-btn a svg{
    width: 30px;
    height: 30px;
    filter: drop-shadow(0 0 10px rgb(231, 118, 156));
    transition: transform 0.2s;
}
.back-btn a svg:hover{
    transform: scale(1.2);
}

.prop-emoji{
    display: flex;
    align-items: center;
    font-size: 20px;
}
.prop-emoji p{
    margin: 0;
    font-size: 30px;
    color: rgb(225, 253, 100);
    filter: drop-shadow(0 10px 10px rgb(225, 253, 100));
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="pink"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"/></svg>') 12 12, auto;
}

.donate-btn{
    display: flex;
    align-items: center;
}
.donate-btn button{
    border: none;
    background: none;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="pink"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"/></svg>') 12 12, auto;
}
.donate-btn button svg{
    width: 30px;
    height: 25px;
    filter: drop-shadow(0 0 10px rgb(243, 72, 129));
    color: palevioletred;
    transition: transform 0.2s;
}
.donate-btn button svg:hover{
    transform: scale(1.2);
}
.sec-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec-wrap h1{
    text-align: center;
    font-family: Pacifico;
    color: palevioletred;
    font-size: 35pt;
    text-shadow: 0 0 20px rgba(219, 112, 147, 0.6);
}
.icon-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
    height: 80px;
}
.icon-wrap button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    transition: width 0.2s linear;
    background: none;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="pink"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"/></svg>') 12 12, auto;
}

.icon-wrap button svg{
    color: palevioletred;
    filter: drop-shadow(0 0 20px rgb(245, 25, 98));
    width: 40px;
    height: 32px;
}
.icon-wrap button svg:hover{
    transform: scale(1.3);
    transition: width 2s;
    animation: pop 0.5s ease infinite;
    clip-path: paath('M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z');
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="pink"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"/></svg>') 12 12, auto;
}

.bor-card{
    position: relative;
    border: 2px solid;
    width: 300px;
    height: 400px;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(243, 72, 129, 0.801);
    background: linear-gradient(0, rgb(255, 182, 193), rgb(150, 234, 236));
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="pink"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"/></svg>') 12 12, auto;
}
.bor-card button{
    position: absolute;
    left: 82%;
    top: 3%;
    border: none;
    background: none;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="pink"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"/></svg>') 12 12, auto;
}
.bor-card button svg{
    width: 30px;
    height: 30px;
    color: palevioletred;
    filter: drop-shadow(0 0 10px rgb(243, 72, 129));
}
.bor-card button svg:hover{
    transform: scale(1.2);
}
.in-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.in-card img{
    position: absolute;
    top: 10%;
    width: 80%;
    height: 70%;
    border: 1px solid;
    border-radius: 10px;
    margin-top: 20px;
}

.in-card h2:nth-child(1){
    position: absolute;
    top: -3%;
    font-family: Pacifico;
}
.in-card h2{
    position: absolute;
    top: 85%;
}
.flex-photo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.photo img{
    width: 120px;
    height: 90px;
    border-radius: 20%;
    border: 1px solid;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="pink"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"/></svg>') 12 12, auto;
}
.photo img:hover{
    transform: scale(1.1);
    transition: transform 0.2s;
}
.in-card3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    transform: translateY(-46%);
    top: 50%;

}

#card1, #card2, #card3, #card4{
    position: fixed;
    top: 50%;
    left: 45%;
    transform: translate(-50%,-50%) scale(0);
    transition: transform 0.4s ease;
    z-index: 1000;
    padding: 0;
}
#card1.show, #card2.show, #card3.show, #card4.show{
    transform: translate(-35%, -50%) scale(1);
    animation: popIn 0.5s ease, float 3s ease-in-out infinite;
}
#card2 h3{
    position: absolute;
    top: 80%;
    font-family: Pacifico;
    font-size: 25px;
    font-weight: lighter;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 192, 203, 0.5);
    backdrop-filter: blur(3px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}
.overlay.show{
    opacity: 1;
    pointer-events: all;
    z-index: 1000;
}
@keyframes smoke {
    to {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}

@keyframes floatHearts {
    0% {
        transform: translateY(0) translateX(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(-100vh) translateX(100px) scale(0.5);
        opacity: 1;
        filter: blur(4px);
    }
}
@keyframes floatTulips {
    0% {
        transform: translateY(0) translateX(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(-100vh) translateX(100px) scale(0.5);
        opacity: 1;
        filter: blur(2px);
    }
}
@keyframes pop{
    0%{
        transition: 2s;
        transform: scale(0.5);
        color: palevioletred;
    }
    100%{
        transform: scale(2);
        color: rgb(243, 166, 192);
        filter: drop-shadow(0 0 20px rgb(245, 83, 134));
    }
}